In [15]:

#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [18]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")




Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,TSRTC - 8625,RAJDHANI (A.C. Semi Sleeper),21:00,01:00,04h 00m,INR 389,35 Seats available,3.6\n44,https://www.redbus.in/bus-tickets/khammam-to-h...,Khammam to Hyderabad
1,TSRTC - 8619,RAJDHANI (A.C. Semi Sleeper),22:00,02:00,04h 00m,INR 389,35 Seats available,4.0\n69,https://www.redbus.in/bus-tickets/khammam-to-h...,Khammam to Hyderabad
2,TSRTC - 64593,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",22:30,02:25,03h 55m,INR 320,28 Seats available,4.7\n26,https://www.redbus.in/bus-tickets/khammam-to-h...,Khammam to Hyderabad
3,TSRTC - 8827,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",22:55,03:20,04h 25m,INR 320,19 Seats available,4.8\n6,https://www.redbus.in/bus-tickets/khammam-to-h...,Khammam to Hyderabad
4,TSRTC - 8644,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",23:10,03:20,04h 10m,INR 320,27 Seats available,3.9\n50,https://www.redbus.in/bus-tickets/khammam-to-h...,Khammam to Hyderabad
...,...,...,...,...,...,...,...,...,...,...
2668,Bihar state road transport corporation (BSRTC)...,Volvo AC Seater 2+2,15:30,05:00,13h 30m,INR 1206,14 Seats available,4.3\n15,https://www.redbus.in/bus-tickets/motihari-to-...,Motihari to Agra
2669,Bihar state road transport corporation (BSRTC)...,Volvo AC Seater 2+2,17:20,08:00,14h 40m,INR 1300,15 Seats available,2.3\n7,https://www.redbus.in/bus-tickets/motihari-to-...,Motihari to Agra
2670,Panwar Travels,A/C Sleeper (2+1),15:40,06:15,14h 35m,INR 3000,24 Seats available,2.8,https://www.redbus.in/bus-tickets/motihari-to-...,Motihari to Agra
2671,Shree Balajee Travels And Cargo,A/C Seater / Sleeper (2+1),15:00,06:43,15h 43m,INR 1799,35 Seats available,1.3,https://www.redbus.in/bus-tickets/motihari-to-...,Motihari to Agra
2672,Travel Point World LLP,A/C Seater / Sleeper (2+2),18:20,06:50,12h 30m,2374,38 Seats available,1.5,https://www.redbus.in/bus-tickets/motihari-to-...,Motihari to Agra

In [ ]:
#data cleaning

In [19]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2673 entries, 0 to 2672
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2673 non-null   object
 1   Bus_type         2673 non-null   object
 2   Start_time       2673 non-null   object
 3   End_time         2673 non-null   object
 4   Total_duration   2673 non-null   object
 5   Price            2673 non-null   object
 6   Seats_Available  2673 non-null   object
 7   Ratings          2673 non-null   object
 8   Route_link       2673 non-null   object
 9   Route_name       2673 non-null   object
dtypes: object(10)
memory usage: 209.0+ KB

In [20]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        389.0
1        389.0
2        320.0
3        320.0
4        320.0
         ...
2668    1206.0
2669    1300.0
2670    3000.0
2671    1799.0
2672    2374.0
Name: Price, Length: 2673, dtype: float64

In [21]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\kallu\AppData\Local\Temp\ipykernel_19096\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [22]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2673 entries, 0 to 2672
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2673 non-null   object
 1   Bus_type         2673 non-null   object
 2   Start_time       2673 non-null   object
 3   End_time         2673 non-null   object
 4   Total_duration   2673 non-null   object
 5   Price            2673 non-null   float64
 6   Seats_Available  2673 non-null   object
 7   Ratings          2673 non-null   float64
 8   Route_link       2673 non-null   object
 9   Route_name       2673 non-null   object
dtypes: float64(2), object(8)
memory usage: 209.0+ KB

In [23]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [24]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [25]:
# change dataframe to csv
path=r"D:/Capstone projects/Redbus/bus_details.csv"
Final_df.to_csv(path,index=False)

In [26]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="susmitha@050",database="RED_BUS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS")

In [27]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [28]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully